@font-face {
  font-family: 'calc';
  src: url('./../assets/digital_counter_7_italic.ttf');
}

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  font-family: sans-serif, 'calc';
  padding-bottom: 50px;
  -webkit-font-smoothing: antialiased;
  color: #212529;
  -webkit-tap-highlight-color: transparent;
  /* -webkit-font-smoothing: subpixel-antialiased; */
}

ol li {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 5px;
}

li {
  text-transform: capitalize;
}

pre {
  margin: 0;
  padding-left: 25px;
}

a {
  display: inline-block;
  font-size: 18px;
  color: cornflowerblue;
  margin-right: 15px;
  text-transform: capitalize;
  text-decoration: none;
}

h3 {
  margin-left: 60px;
  text-transform: uppercase;
  color: cadetblue
}

.includer {
  color: green;
  padding: 5px;
}

fieldset {
  background: #f0f0f0 url(http://htmlbook.ru/files/check-bg.png) no-repeat 100% 8%;
  margin-bottom: 20px;
}

legend {
  text-transform: uppercase;
  color: #A35D43;
  font-size: 18px;
  font-weight: bold;
}

blockquote {
  padding: 10px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

label {
  user-select: none;
}

.container {
  width: 90%;
  margin: auto;
}

blockquote:before,
blockquote:after {
  font-size: 3em;
  color: #800;
}

blockquote:before {
  content: '«';
  float: left;
  margin-top: -0.4em;
}

blockquote:after {
  content: '»';
  float: right;
  margin-top: -1.2em;
}

blockquote p {
  margin: 1em 3em;
}

.num {
  width: 100px;
  display: inline-block;
}

input {
  margin-bottom: 5px;
}

h3 {
  font-weight: normal;
}

.error {
  color: rgb(194, 51, 51);
  font-size: 10px;
  font-style: italic;
}

.error2 {
  color: lightcoral;
  font-size: 10px;
  font-style: italic;
}

.focus-brd {
  outline: 1px solid greenyellow;
}

.error-brd {
  outline: 1px solid lightcoral;
}

.hidden {
  display: none;
}

.img-container img {
  width: 50px;
  margin-left: 10px;
}

#cloned-img img {
  width: 70px;
  margin-left: 30px;
}

.img-wrap {
  margin-bottom: 10px;
  user-select: none;
}

.img-wrap img {
  margin-right: 10px;
}

.img-wrap *,
input,
label {
  display: inline-block;
  vertical-align: middle;
}

button {
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 0;
}

.module-list {
  margin-top: 0;
  margin-bottom: 30px;
}

.module {
  display: inline-block;
  vertical-align: top;
}

.module a {
  text-transform: lowercase;
  margin-bottom: 5px;
}

.module a:hover {
  text-decoration: underline;
}

#indent {
  cursor: pointer;
  color: blue;
}

.popup {
  padding: 20px;
  border: 1px solid gray;
  background-color: lightgray;
  display: inline-block;
}

table td {
  padding: 10px;
  border: 1px solid lightgray;
  background: #fff;
  user-select: none;
}

#sum-num-table tr.sum-cells td {
  border: 2px solid black;
}

#sum-cells-table td {
  cursor: pointer;
}

#sum-cells-table td.active {
  background: green;
  color: white;
}

#result-cells-sum~button {
  display: inline-block;
}

#sum-cells-table {
  float: left;
}

.clearfix:after,
.clearfix:before {
  display: block;
  content: '';
  clear: both;
}

.sq {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 2px 8px;
  border-radius: 3px;
  font-weight: 100;
  font-size: 24px;
  line-height: 20px;
}

input.sq {
  width: 24px;
  font-size: 20px;
  margin: 0;
  margin-right: 5px;
}

.err {
  color: rgb(194, 51, 51);
  font-size: 10px;
  font-style: italic;
  display: none;
}

/*-----------------*/

.hljs {
  font-size: 16px;
  line-height: 1.5;
  padding-left: 25px;
}

pre {
  background: #f6f6ae url(../assets/school-book.png);
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #005599;
  font-weight: bold;
}

.hljs,
.hljs-subst {
  color: #3e5915;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-built_in,
.hljs-builtin-name,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link {
  color: #2c009f;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #e60415;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

/* end hightlight */

.nav {
  border: 2px solid black;
  padding: 5px 20px;
}

#bread-crumps li a {
  margin: 0;
  color: steelblue;
  padding-left: 7px;
}

#bread-crumps li a:after {
  content: '\27A4';
  font-size: 14px;
  padding-left: 7px;
}

#bread-crumps li:last-child a:after {
  content: '';
}

.nav * {
  display: inline-block;
  list-style-type: none;
}

.nav .search {
  float: right;
}

.nav .search input {
  line-height: 25px;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 85px;
  font-size: 18px;
}

.nav .search span {
  transform: translatex(31px);
}

.nav .search button {
  border-radius: 0 20px 20px 0;
  transform: translateX(-107%);
}

.links-themes-title {
  font-size: 70px;
  font-weight: 300;
  margin: 0;
}

.links-themes-list {
  text-align: right;
}

.links-themes-list li {
  list-style: none;
  display: inline-block;
  border-right: 2px solid black;
  margin-right: 8px;
}

.links-themes-list li a {
  text-decoration: underline;
  text-transform: capitalize;
  color: cornflowerblue;
}

.links-themes-list li:last-child {
  border-right: none;
}

.links-themes-list li:last-child a {
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.info {
  overflow: hidden;
}

.info-left,
.info-right {
  float: left;
}

.info-left {
  width: 300px;
  padding-right: 0;
  padding-left: 10px;
  position: relative;
}

.info-right {
  width: calc(100% - 300px);
}

.info-right-content {
  border: 2px solid #000;
  padding: 10px 20px;
}

.info-right-content .sub-title {
  margin-bottom: 2px;
  font-weight: 800;
  font-size: 14px;
  color: lightgray;
}

.info-right-content .title {
  margin-bottom: 2px;
  font-size: 35px;
  font-weight: bold;
}

.info-right-content .title-remark {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 10px;
  font-size: 20px;
}

.update {
  float: right;
  border-top: none;
  padding-right: 25px;
}

.update span {
  color: steelblue;
  font-size: 29px;
  cursor: pointer;
}

#menu * {
  user-select: none;
}

#menu h5 {
  font-size: 1em;
  line-height: 50px;
  margin: 0;
  cursor: pointer;
}

#menu.active h5:after {
  transform: rotate(180deg);
}

#menu h5:after {
  content: ' \2039';
  display: inline-block;
  font-size: 23px;
  vertical-align: middle;
  transform: rotate(270deg);
  margin-right: -10px;
}

#menu > ol {
  list-style-type: none;
}

#menu > ol > li {
  display: inline-block;
  width: 230px;
}

#menu > ol > li > ol {
  display: none;
}

#menu.active > ol > li > ol {
  display: block;
}

/* tabs */
.tabs-nav-list,
.tabs-content-list {
  list-style-type: none;
}

.tabs-nav-list {
  margin-top: 50px;
  background: white;
}

.tabs-nav-item {
  border-bottom: 2px solid #000;
  border-radius: 5px 0 0 5px;
  list-style: none;
  margin-bottom: 3px;
  padding: 10px;
  font-size: 22px;
  border-right: none;
}

.tabs-content-item {
  display: none;
  animation: fadeEffect .3s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tabs-content-item.active {
  display: block;
}

.tabs-nav-item.active {
  background-color: #f6f6ae;
  display: block;
}

.tabs-nav-item:hover {
  cursor: pointer;
}
